
body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}



.fgimg{
    max-height: 700px;
    height: 100%;
    /* width: 100%; */
    /* margin-top: -20%; */
    /* margin-right: 100%; */
    position: relative;
    top: 0px;
    left: 0px;
    
}
.fgimg2{
    height: 120%;
    position: absolute;
    top: 0px;
    left: -20px;
}
.imageholder{
    justify-content: flex-end;
    position: relative;
    top: 0px;
    left: 0px;
}

.headingbox{
    position: relative;
    top: 150px;
    left: 0px;
}

.hb{
    margin-top: 50px;
}

.pricing-heading {
    font-size: 57px;
    font-weight: bolder;
    margin-bottom: 25px;
    text-align: left;
    color: white;
    position: sticky;
    z-index: 1;
}

.pricing-subheading {
    font-size: 19px;
    margin-bottom: 30px;
    margin: 5px;
    text-align: left;
    color: white;
    position: sticky;
    z-index: 1;
}

.specialText {
    color: #5555D1;
}

.custBtn {
    margin-top: 25px;
    border-radius: 0px 9px 9px 0px;
    padding: 9px;
    margin-left: 0px;
    background-color: #5555D1;
    color: #fff;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    z-index: 1;
}

.custFeoild {
    margin-top: 25px;
    border-radius: 9px 0px 0px 9px;
    font-size: medium;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    width: 330px;
    height: 60px;
}

.belowSearch{
    position: sticky;
    z-index: 1;
    text-align: left;
}

.pricing-section{
    margin-top: -100px;
}

@media (max-width: 1220px) {
    .fgimg2{
        height: 480px;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .pricing-heading {
        font-size: 50px;
        font-weight: bolder;
        margin-bottom: 25px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }

    .pricing-subheading {
        font-size: 16px;
        margin-bottom: 30px;
        margin: 5px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }

}



@media (max-width: 1025px) {

    .herobackground {
        position: relative;
        background: url('../assets/Pheadingtop.png') center/cover no-repeat;
        height: 600px; /* Adjust the height as needed */
        transform: translateX(850);
        left: 100px;

    }

    .fgimg2{
        height: 400px;
        position: absolute;
        top: 80px;
        left: 0px;
    }

    .pricing-heading {
        font-size: 50px;
        font-weight: bolder;
        margin-bottom: 25px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }

    .pricing-subheading {
        font-size: 16px;
        margin-bottom: 30px;
        margin: 5px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }


}

@media (max-width: 995px) {

    .pricing-section{
        margin-top: -268px;
    }

    .headingbox{
        position: relative;
        top: 250px;
        left: 0px;
    }
    

    .herobackground {
        position: relative;
        background: url('../assets/Pheadingtop.png') center/cover no-repeat;
        height: 400px; /* Adjust the height as needed */
        transform: translateX(950);
        left: 100px;

    }

    .fgimg2{
        height: 340px;
        position: absolute;
        top: 80px;
        left: 0px;
    }

    .pricing-heading {
        font-size: 42px;
        font-weight: bolder;
        margin-bottom: 25px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }

    .pricing-subheading {
        font-size: 14px;
        margin-bottom: 30px;
        margin: 5px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }

    .custBtn {
        margin-top: 25px;
        border-radius: 0px 9px 9px 0px;
        padding: 9px;
        margin-left: 0px;
        background-color: #5555D1;
        color: #fff;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
        width: 95px;
        height: 60px;
        font-size: 18px;
        font-weight: bold;
        position: sticky;
        z-index: 1;
    }
    
    .custFeoild {
        margin-top: 25px;
        border-radius: 9px 0px 0px 9px;
        font-size: 18px;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
        width: 280px;
        height: 60px;
    }
    
}

@media (max-width: 700px) {
    
    .pricing-heading {
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 25px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }

    .pricing-subheading {
        font-size: 14px;
        margin-bottom: 30px;
        margin: 5px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }
}

@media (max-width: 450px) {
    
    .pricing-heading {
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 25px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }

    .pricing-subheading {
        font-size: 12px;
        margin-bottom: 30px;
        margin: 5px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }
}



@media (max-width: 767px) {

    .herobackground {
        position: relative;
        background: url('../assets/Pheadingtop.png') center/cover no-repeat;
        height: 400px; /* Adjust the height as needed */
        transform: translateX(950);
        left: 100px;

    }

    .fgimg2{
        height: 300px;
        position: absolute;
        top: 80px;
        left: 0px;
        display: none;
    }

    .pricing-heading {
        font-size: 38 bolder;
        margin-bottom: 25px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }

    .pricing-subheading {
        font-size: 12px;
        margin-bottom: 30px;
        margin: 5px;
        text-align: left;
        color: white;
        position: sticky;
        z-index: 1;
    }
}

@media (max-width: 410px) {

    .herobackground {
        position: relative;
        background: url('../assets/Pheadingtop.png') center/cover no-repeat;
        height: 400px; /* Adjust the height as needed */
        transform: translateX(950);
        left: 100px;

    }

    .fgimg2{
        height: 340px;
        position: absolute;
        top: 80px;
        left: 0px;
        display: none;
    }

    .custBtn {
        margin-top: 25px;
        border-radius: 0px 9px 9px 0px;
        padding: 9px;
        margin-left: 0px;
        background-color: #5555D1;
        color: #fff;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
        width: 86px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
        position: sticky;
        z-index: 1;
    }
    
    .custFeoild {
        margin-top: 25px;
        border-radius: 9px 0px 0px 9px;
        font-size: 16px;
        border: none;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
        width: 250px;
        height: 50px;
    }


}



.navbar-section{
    z-index: 1;
}

/* Style for the tabs */
/* * {
    transition: 500ms;
    scroll-behavior: smooth;
    overflow-x: hidden;

} */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* Center the tab container */
    position: relative;
}

/* Style for the tab buttons container (red box) */
.tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* Red background */
    border-radius: 15px;
    overflow: hidden;
    width: 25%;
    padding: 5px 2.5px;
    box-shadow: 0px 0px 4px 1px rgba(159, 151, 151, 0.48);
    margin-top: 1%;
    margin-bottom: 5px;
}

/* Style for tab buttons container (flex container) */
.tab-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

/* Style for tab buttons */
.tab button {
    background-color: #ffffff4b;
    /* Blue button background */
    border: none;
    outline: none;
    cursor: pointer;
    flex: 1;
    /* Distribute available space evenly between buttons */
    padding: 15px 10px;
    margin: 0% 3px;
    transition: 0.3s;
    border-radius: 13px;
    /* Remove border-radius from buttons */
}

/* Style for tab buttons on hover */
.tab button:hover {
    background-color: #5555d134;
    /* Darker blue on hover */
    color: rgb(0, 0, 0);
    /* Text color on hover */
}

/* Style for the active tab */
.tab button.active {
    background-color: #5555D1 !important;
    /* Darker blue for the active tab */
    color: white !important;
    /* Text color for the active tab */
}

/* Style for the initial active tab */
.initial-active-tab.active-default {
    background-color: #5555D1 !important;
    /* Darker blue for the initial active tab */
    color: white !important;
    /* Text color for the initial active tab */
}

/* Style for the content inside the tab */
.tabcontent {
    display: none;
    padding: 20px;
}

@media (max-width:1204px) {
    .tab-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        /* Red background */
        border-radius: 15px;
        overflow: hidden;
        width: 32%;
        padding: 3px 2.5px;
        box-shadow: 0px 0px 4px 1px rgba(159, 151, 151, 0.48);
        margin-top: 5%;
        margin-bottom: 1%;
    }
}

@media (max-width:768px) {
    .tab-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        /* Red background */
        border-radius: 15px;
        overflow: hidden;
        width: 40%;
        padding: 3px 2.5px;
        box-shadow: 0px 0px 4px 1px rgba(159, 151, 151, 0.48);
        margin-top: 5%;
        margin-bottom: 1%;
    }
}

@media (max-width:700px) {
    .tab-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        /* Red background */
        border-radius: 15px;
        overflow: hidden;
        width: 40%;
        padding: 3px 2.5px;
        box-shadow: 0px 0px 4px 1px rgba(159, 151, 151, 0.48);
        margin-top: 5%;
        margin-bottom: 1%;
    }
}

@media (max-width:425px) {
    .tab-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        /* Red background */
        border-radius: 15px;
        overflow: hidden;
        width: 80%;
        padding: 3.4px 2.5px;
        box-shadow: 0px 0px 4px 1px rgba(159, 151, 151, 0.48);
        margin-top: 5%;
        margin-bottom: 2%;
    }
}








.package-name {
    font-size: 1.8rem;
    font-weight: bold;
    display: inline;
}

.best-price {
    font-size: 0.9rem;
    margin-left: 4%;
    display: inline;
}

.prominent-price {
    font-size: 1.8rem;
    font-weight: bolder;
    color: #5555D1;
    margin-top: 4%;
}

.period-mention {
    font-size: 1rem;
    margin-top: -9%;
}

.custbtn {
    padding: 3% 0;
    margin: 3% 0;
    background-color: #5555D1;
    color: #fff;
    border-radius: 11px;
    width: 100%;
}

.featureheader {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2%;
}





.card {
    padding: 2%;
    background-color: #EFEFF4;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    width: 300px;
    margin: 35px 15px;
    border-radius: 15px;

}




.deco {
    background-color: #EFEFF4;
    border: 1px solid #ccc;
}





@media(max-width:1180px) {
    .card {
        padding: 2%;
        background-color: #EFEFF4;
        border-radius: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: box-shadow 0.3s;
        width: 261.27px;
        margin: 35px 10px;
    }
}











@media(max-width:980px) {
    .card {
        padding: 2%;
        background-color: #EFEFF4;
        border-radius: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 8%;
        transition: box-shadow 0.3s;
        width: 200.5624px;
        margin: 35px 5px;

    }

    .centrio {
        justify-content: center;
        position: relative;
    }

    .package-name {
        font-size: 1.8rem;
        font-weight: bold;
        display: inline;
    }

    .best-price {
        display: none;
    }

    .period-mention {
        font-size: 0.8rem;
        margin-top: -9%;
    }
}



@media(max-width:780px) {
    .card {
        padding: 2%;
        background-color: #EFEFF4;
        border-radius: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 8%;
        transition: box-shadow 0.3s;
        width: 165.5624px;
        margin: 35px 5px;

    }

    .centrio {
        justify-content: center;
        position: relative;
    }

    .package-name {
        font-size: 1.8rem;
        font-weight: bold;
        display: inline;
    }

    .period-mention {
        font-size: 11px;
        margin-top: -9%;
    }

    .best-price {
        display: none;
    }
}

@media (max-width:530px) {
    .card {
        padding: 2%;
        background-color: #EFEFF4;
        border-radius: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 8%;
        transition: box-shadow 0.3s;
        width: 280px;
        margin: 36px 5px;

    }

    .period-mention {
        font-size: 1rem;
        margin-top: -9%;
    }
}

.card:hover {
    border: 2px solid #5555D1;
    box-shadow: 0px 0px 30px 8px #5555d162;
    transition: 500ms;
}







.headerplacers {
    justify-content: center;
    display: flex;
    text-align: center;
    position: relative;
    top: -50px;
}

.mainHeading_price {
    text-align: center;
    font-size: 350%;
    font-weight: bold;
    margin: 2% 0;
}

.submainheading_price {
    font-size: 100%;
    font-weight: 300;
    margin-top: -14px;
    margin-bottom: 3%;
}


@media (max-width: 1024px) {
    .submainheading_price {
        font-size: 120%;
    }
}

@media (max-width: 900px) {
    .mainHeading_price {
        font-size: 300%;
        margin-left: 0;
        /* Reset margin left */
    }

    .submainheading_price {
        font-size: 93%;
        margin-top: -14px;
        margin-bottom: 3%;
        text-align: center;
        margin-left: 10px;
    }
}

@media (max-width: 650px) {
    .mainHeading_price {
        font-size: 300%;
        margin-left: 20px;
    }

    .submainheading_price {
        font-size: 75%;
        margin-left: 10px;
    }
}

@media (max-width: 629px) {
    .mainHeading_price {
        font-size: 200%;
        margin-left: 12px;
    }

    .submainheading_price {
        /* display: none; */
    }
}

@media (max-width: 375px) {
    .mainHeading_price {
        font-size: 150%;
    }

    .submainheading_price {
        /* display: none; */
    }
}

.custom-navbar {
    /* margin-top: 10px; */
    padding: 15px;
}

.navbar-nav .nav-link {
    margin-right: 40px;
    color: black;
    font-weight: 700;
    font-size: medium;
}

.contact-button {
    background-color: #5555D1;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: medium;
    font-weight: 700;
}

.contact-button a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 600px) {
    .navbar-nav.ml-auto {
        text-align: center;
    }

    .navbar-nav.ml-auto .nav-item {
        text-align: center;
    }

    .navbar-toggler.custom-toggler.navbar-toggler {
        color: #fff;
        /* Change to the desired text color */
        outline: none;
    }

    .navbar-toggler.custom-toggler.navbar-toggler span.navbar-toggler-icon {
        display: block;
    }

    .navbar-nav.ml-auto .nav-link {
        display: block;
        margin: 0;
        text-align: center;
    }

    .navbar-nav.ml-auto .contact-button {
        display: block;
        margin: 10px auto;
        text-align: center;
    }
}



.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #000045;
}

.footer-dark h3 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.footer-dark h2 {
    
    margin-bottom: 12px;
    margin-right: 38%;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.footer-dark .flogo {
    width: 250px;
    margin-bottom: 5%;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:1000px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-dark .flogo {
        width: 210px;
    }


    .footer-dark h2 {
        margin-top: 0;
        margin-bottom: 12px;
        margin-right: 38%;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }

    .footer-dark .copyright {
        text-align: center;
        padding-top: 24px;
        opacity: 0.3;
        font-size: 13px;
        margin-bottom: 0;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

.footer-dark .item.text p {
    opacity: 0.6;
    font-size: 12px;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: left;

}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 0px;
    }

    .footer-dark h2 {
        margin-right: 0%;
        font-weight: bold;
        font-size: 15.8px;

        text-transform: uppercase;
    }

    .footer-dark .copyright {
        text-align: center;
        padding-top: 24px;
        opacity: 0.3;
        font-size: 13px;
        margin-bottom: 0;
    }

    .logoshifter {
        margin-bottom: 24px;
        margin-top: -20px;
    }
}



.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px #fff;
    margin: 0 8px;
    color: #fff;
    margin-top: 2%;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}



.footer-dark .copyright {
    text-align: left;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.footer-dark .terms {
    text-align: left;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}